#test
	%p cdjklshldh
#test
	%p cdjklshldh
#test
	%p cdjklshldh
#test.blu
	%p cdjklshldh
#description= partial "layouts/description_project"
#map= partial "layouts/map"
#explanation= partial "layouts/explanation"
#sections_accordion
	#mailing-list= partial "layouts/mailing-list"  
	#faq= partial "layouts/faq"
	#think= partial "layouts/think"   
	#submit-project= partial "layouts/submit"
	#publish= partial "layouts/publish"   