#description= partial "layouts/description_project"
#map= partial "layouts/map"
#explanation= partial "layouts/explanation"
#sections_accordion
	#mailing-list= partial "layouts/mailing-list"  
	#faq= partial "layouts/faq"  
	#submit-project= partial "layouts/submit"  