#description= partial "layouts/description_project"
#map= partial "layouts/map"
#people= partial "layouts/people"
#mailing-list.wide= partial "layouts/mailing-list"  
#faq.wide= partial "layouts/faq"  
#submit-project.wide= partial "layouts/submit"  