%header
	%a{ href: 'c'}
		%span.icon
	
	%h2
		%span.hl 
			&rarr; 
			%span.ul Subscribe to mailing list<br />
		%span.subtitle and become a local actor

%section.mailing_list
	#icon
	#spiegazione
		%p  
			If you want to browse and support projects once this function is available
			or want to be informed about the roll out, register your e-mail address and wait 
			for the next steps. More to come soon we promise! 		
	
	- form_tag 'http://thedoersproject.com/mailinglist/subscribe', :id => "mail_form", :class => 'submit-form', :method => 'POST' do
		= flash_tag(:success) 
		- field_set_tag do
			%p
				= label_tag :email, :class => 'first'
				= text_field_tag :email, :name => "email", :value => params[:email], :id => 'email', :placeholder=>"Your email address here"
		- field_set_tag(:class => 'buttons') do
			= hidden_field_tag  :list, :value => 4, :name => "list", :id => 'mail_list'
			= submit_tag "Submit", :name => "submit", :id => 'mail_submit'