%html
  %head
    %title= [@title, "Local Actors"].compact.join(" | ")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    = stylesheet_link_tag 'application'
    = favicon_tag 'favicon.ico', :type => 'image/ico'
    = yield_content :include
  
  %body
  
  
    %section.page
      %header= partial "layouts/header"
      = yield
      %footer= partial "layouts/footer"
    %hr.footer
    = javascript_include_tag 'vendor/require', 'main', :cache => "bundle/application"
    -# = Localactors.component_include_tag ('jquery/jquery.js')
