%html
  %head
    %title= [@title, "Local Actors"].compact.join(" | ")
    <!-- VIEWPORT -->
    
    <!-- optimised for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- optimized for mobile, zoom/scaling disabled -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    = stylesheet_link_tag 'application'
    = favicon_tag 'favicon.ico', :type => 'image/ico'
    = yield_content :include
    = javascript_include_tag 'vendor/Modernizr'#, :cache => "true"
    
    <script type="text/javascript">var redline = {}; redline.project_id = 204096369;</script><script id="redline_js" src="http://www.redline.cc/assets/button.js" type="text/javascript"></script>
    
  %body
  
  
    %section.page
      %header= partial "layouts/header"
      = yield
      %footer= partial "layouts/footer"
    %hr.footer
    = javascript_include_tag 'vendor/yepnope','vendor/enquire/dist/enquire' , 'application'#, :cache => "bundle/application"
