%html
 %head
  %title= [@title, "Padrino Sample Blog"].compact.join(" | ")
  = include_stylesheets :application
  = include_javascripts :application
  = yield_content :include

 %body
  %header= partial "layouts/header"
  
  #container
   #main= yield
  #footer= partial "layouts/footer"
	