%html
 %head
  %title= [@title, "Padrino Sample Blog"].compact.join(" | ")
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = favicon_tag 'favicon.ico', :type => 'image/ico'
  = yield_content :include

 %body
  %header= partial "layouts/header"
  
  #container
   = yield
  #footer= partial "layouts/footer"
	